node_modules
public/.DS_Store
build/.DS_Store
src/.DS_Store
build/asset-manifest.json
build/favicon.ico
build/index.html
build/logo192.png
build/logo512.png
build/manifest.json
build/robots.txt
build/images/ACME_Logo.png
build/images/chocolate-cake-pops-33715.jpg
build/static/css/main.e6c13ad2.css
build/static/css/main.e6c13ad2.css.map
build/static/js/453.78b945df.chunk.js
build/static/js/453.78b945df.chunk.js.map
build/static/js/main.26f83fc2.js
build/static/js/main.26f83fc2.js.LICENSE.txt
build/static/js/main.26f83fc2.js.map
build/videos/chocolate-sd_640_360_30fps.mp4
build/videos/oliveoil-sd_338_640_30fps.mp4
build/videos/tomato-sd_338_640_25fps.mp4
.DS_Store
build/static/js/main.64532702.js
build/static/js/main.64532702.js.LICENSE.txt
build/static/js/main.64532702.js.map
